<section class="contact-section">
  <h2>Get in Touch</h2>
  <p>If you'd like to collaborate or hire me, feel free to reach out through any of the channels below.</p>

  <div class="contact-info">
    <div class="contact-item">
      <mat-icon>email</mat-icon>
      <a href="mailto:mudnawaz&#64;hotmail.com">mudnawaz&#64;hotmail.com</a>
    </div>
    <div class="contact-item">
      <mat-icon>call</mat-icon>
      <span>+92 345 6796689</span>
    </div>
    <div class="contact-item">
      <mat-icon>language</mat-icon>
      <!-- <a href="https://www.annzee.com" target="_blank" rel="noopener">www.annzee.com</a> -->
       <a href="http://annzee.com" target="_blank" rel="noopener noreferrer">Visit Site</a>
    </div>
    <div class="contact-item">
      <mat-icon>code</mat-icon>
      <a href="https://github.com/mudnawaz" target="_blank" rel="noopener">GitHub Profile</a>
    </div>
    <div class="contact-item">
      <mat-icon>business</mat-icon>
      <a href="https://www.linkedin.com/in/muhammad-nawaz-48a99464/" target="_blank" rel="noopener">LinkedIn Profile</a>
    </div>
  </div>
</section>
