  <section class="hero-section">
    <div class="hero-content">
      <h1>👋 Hi, I'm Muhammad Nawaz</h1>
      <h2>Senior Software Engineer | Full Stack Developer</h2>
      <p>
        I specialize in building robust web and desktop applications with .NET, Angular, Java, and cloud-native technologies.
      </p>
      <div class="cta-buttons">
        <a mat-raised-button color="primary" href="/assets/MuhammadNawaz-Resume.pdf" download >
          <mat-icon>download</mat-icon> Download Resume
        </a>
        <a mat-stroked-button color="accent"  routerLink="/contact">
          <mat-icon>mail</mat-icon> Hire Me
        </a>
      </div>
    </div>
  </section>
  