  <section class="hero-section">
    <div class="hero-content">
      <h2><span class="wave">👋</span> Hi, I'm <span class="name">Muhammad Nawaz</span></h2>
      <h3>Senior Software Engineer | Full Stack Developer</h3>
      <p>
        I specialize in building robust web and desktop applications with .NET, Angular, Java, and cloud-native technologies.
      </p>
      <div class="cta-buttons">
        <a mat-raised-button color="primary" href="assets/resume_nawaz_2025.pdf" download >
          <mat-icon>download</mat-icon> Download Resume
        </a>
        <a mat-stroked-button color="accent"  routerLink="/contact">
          <mat-icon>mail</mat-icon> Get in Touch
        </a>
      </div>
    </div>
  </section>
  