<section class="about-section">
    <h2>About Me</h2>
    <div class="about-wrapper">
      <div class="profile-box">
        <img src="assets/profile.jpg" alt="Muhammad Nawaz" />
        <h3>Muhammad Nawaz</h3>
        <p>Senior Software Engineer | Full Stack Developer</p>
      </div>
  
      <div class="bio-box">
        <p>
          I’m a highly experienced full stack developer with nearly a decade of expertise building
          scalable and secure web applications using .NET Core, Angular, Java Spring Boot, and cloud platforms like Azure and AWS.
          I’ve worked on cross-domain projects from logistics to enterprise automation, always focused on clean architecture, performance, and usability.
        </p>
  
        <ul class="quick-facts">
          <li><strong>10+ Years</strong> Experience</li>
          <li><strong>15+ Projects</strong> Delivered</li>
          <li><strong>Full Stack:</strong> C# (.NET & .Net Core), Angular2+, Java, SQL</li>
          <li><strong>Cloud:</strong> Azure & AWS</li>
        </ul>
        <div class="cta-buttons">
          <a mat-raised-button color="primary"  routerLink="/projects" >
            <mat-icon>visibility</mat-icon> View My Projects
          </a>
        </div>
      </div>
    </div>
  </section>
  