<mat-toolbar color="primary">
  <!-- <span style="font-weight: bold; color: #26A69A;">A</span><span style="letter-spacing: 2px;">nnZee</span> -->
  <span style="color: #26A69A;">Ann</span><span style="color: #f9f9f9;">Zee.</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/about">About</a>
    <a mat-button routerLink="/skills">Skills</a>
    <a mat-button routerLink="/projects">Projects</a>
    <a mat-button routerLink="/services">Services</a>
    <a mat-button routerLink="/contact">Contact</a>
  </mat-toolbar>
  