.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // full height of viewport
  }
  
  .main-content {
    flex: 1;
    padding-bottom: 20px; // optional spacing
  }
  